body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;

    color: black;
    background-color: beige;
    justify-content: space-between;
     
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li{
    margin-right: 1em;
    font-weight:600;
    
}

h1{
    padding-left: 2em;
}

#portada{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    width: 10em;
    height: 4em;

    font-weight: bold;
    font-size: large;

    border-radius: 8%;
    background-color: rgb(107, 213, 255);
}

/* Tarjetas */
.seccionProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

.productos {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 1%;
  }
  

  .productos .imagen {
    max-width: 100%;
  }

  .productos .textoTarjeta {
    margin-top: 10px;
  }
 

/* ********* Carrito ********* */

#mensajeCarrito{
    font-size: 5em;
    font-weight: bold;
    padding-left: 2em;
}

.containerVaciarCarrito{
    padding-top: 4em;
    padding-left: 7em;
}

#vaciarCarrito{
    background-color: rgb(240, 36, 0);
    color: white;
}

#tituloCarrito{
    padding-left: 4em;
    font-size: large;
    
}

#mensajeCarritoSinUsuario{
    font-size: 3em;
    padding-left: 2em;
}

/* ******** Registro ******** */

#formulario{
    padding-top: 4em;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#formulario div{
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: larger;
    font-weight: bold;
}

input{
    width: 18em;
}

.oculto{
    display: none;
}

#logOutContainer{
    padding-left: 3em;
}

#logOut{
    background-color: rgb(240, 36, 0);
    color: white;
}

